mlflow
numpy
pandas  
matplotlib
seaborn
scikit-learn
nltk
wordcloud
plotly
transformers
torch
tqdm
datasets
accelerate
bitsandbytes
tensorboard
sentencepiece
protobuf
peft
evaluate
sentence-transformers
ipykernel
peft
h2o
pycaret
fastapi==0.104.1
uvicorn==0.23.2
jinja2==3.1.2
python-multipart==0.0.6
requests==2.31.0